/* maked by adrianshephard2@gmail.com*/
@media screen,print  /*all, aural,tv,braille ,embossed,,handheld,projection,tty*/
{

p.search {
        margin-left : 20px;
	background-image : url(back.jpg);
	background-position :top center;
	background-repeat : repeat;
	color : red;
	line-height : 90%;
	letter-spacing : 2;
	text-align : left;
	
	text-indent : 25;
	text-transform : capitalize;
	word-spacing : 15;
	font-family : comic sans ms;
	font-size : x-large;
	/*font-stretch : extra-expanded;*/
	font-weight : bolder;
	/*font-style : italic*/
	
	/*borders*/ /*none-hidden-dotted-dashed-solid-double-groove-ridge-inset-outset*/
	border : double rgb(0,200,0) 5px;
	border-top :groove;
	border-left-color : blue;
	border-left-width : 3px;
	border-left-style : dashed;
	
	outline:dotted thick green;
	margin : 1cm 2cm 1cm 3cm; /* top right bottom left */
	padding : 1cm 1cm 1cm 1cm;
	
	/*css standard*/
	opacity : 0.6;
	/*ie standard*/
	filter:alpha(apacity=60);

	}


	
p.search:first-letter {font-size : 300%;
				color : blue;
				}
p.search:first-line {font-size : 150%;
				color : green;
				line-height :150%;
				}
p.arabic:first-letter{font-size : 100%;}




p.search:hover { 
		border-bottom :hidden blue thin;
		outline-color :yellow;
		outline-width :medium;
		
		margin-left : 20%;
		margin-top : 5px;
		margin-right :5%;
		margin-bottom : 5px;
		
		padding-left : 20%;
		position:relative;
		left:50px;
		
		width  :300px ;
		height : 100px;
		
		overflow : auto; 
		
		
		}
div.header {text-align : right;
            outline:dotted thick green;

		}



hr {color : black; }


.classhide     {display: none}

div.search {	display :inline;
			float : right;
			width: 150px;
			height : 100px;
			text-align : center;
			}
div.footer {
			background-color : black;
			color : white;
			width : 80%;
			text-align :  center;
			height :2cm;
			padding :10px;
			}
body {
		bgcolor : #AA33AA;
		background-image :url(pict.bmp);
		background-position : 60% 90% ;
		background-repeat : no-repeat;
		line-height : 200%
	}

h1 	{
	color : blue;
	font-size : 300%;
	text-align : center;
	
	
	
	}
	
	
ul  { 
	list-style-position : inside;
	list-style-type : none;
	}

ol  { 
	list-style-position  : outside;
	list-style-type : lower-roman;
	}
li { display:inline;}
	
	
table {
	table-layout: automatic; /*or fixed*/
	empty-cells : show; /*hide;  */
	border-collapse : collapse; /*separate*/
	border-spacing : 5px;
	caption-side : bottom;

	}

img { 
		max-height : 300px;
		min-height : 100px;
		max-width : 300px;
		min-width : 100px;
		height : 40%;
		width :40%;
		float : center;
		z-index : -1;
	}
span  {
		float : left;
		font-size : 450%;
		line-height : 80%;
		font-family :algerian;
		width :0.7em;
		}

h5 {
	line-height :100%;
	}
a:link  		{color : black;		}
a:visited 	{color: white;		}
a:hover 		{color : green;text-decoration : blink;	}
a:active	{ color : orange;	}





@media aural
{
h3 {
voice-family : male;
richness: 80;
speak-header : always;
speak :normal;
}

}
